* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

button,
li {
  outline: none;
  border: none;
  cursor: pointer;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 40px;
  max-width: 800px;
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: flex-end;
  gap: 11px;
  color: #FFA54F;
  font-weight: 700;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 400;
  list-style: none;
}

.hamburger-menu {
  display: none;
}

.nav-menu li:hover {
  padding-bottom: 10px;
  border-bottom: 2px solid #FFA652;
  transition: all 300ms ease;
}

main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 82px 0 133px 40px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 575px;
  width: 100%;
}

.hero-section-text {
  font-size: 50px;
  font-weight: 400;
  width: 100%;
}

.hero-section-text>span {
  color: #FFA54F;
  font-size: 50px;
  font-weight: 700;
}

.hero-section-image {
  position: absolute;
  top: -100px;
  right: 0;
}

.hero-section-sub-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 380px;
}

.select-quote {
  display: flex;
  border-radius: 25px;
  background: #FFF;
  box-shadow: 0px 8px 20px 0px rgba(86, 86, 86, 0.10);
  max-width: 380px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.select-quote button {
  border-radius: 25px;
  padding: 15px 74px;
  transition: all 300ms ease;
}

.select-quote button:first-child {
  background: #FFA54F;
  color: white;
}

.select-quote button:last-child {
  background: transparent;
}

.select-quote button:hover {
  opacity: 0.8;
}

form {
  display: flex;
  gap: 10px;
  align-items: center;
}

form input,
form button {
  border-radius: 25px;
}

form input {
  border: 2px solid #FFA54F;
  background: #FFF;
  color: #C4C4C4;
  font-size: 12px;
  font-weight: 400;
  max-width: 238px;
  width: 100%;
  padding: 17px 26px;
}

form button {
  background: #FFA54F;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 30px;
  transition: all 300ms ease;
  white-space: nowrap;
}

form button:hover {
  opacity: 0.9;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: #FFA652;
}

.footer-card span {
  color: #542900;
  font-size: 16px;
  font-weight: 700;
}

.card-1 span {
  font-size: 14px;
}

.card-1 {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-right: 80px;
}

.card-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 80px;
}

.contact-platforms {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.card-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 80px;
}

.contact {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-wrap: wrap;
}

/* Responsive Breakpoints */
@media (max-width: 1250px) {
  header {
    max-width: none;
    width: 100%;
    padding: 20px 16px;
  }

  .hero-section-image {
    display: none;
  }

  .select-quote,
  form {
    align-self: center;
    width: 100%;
  }

  footer {
    padding: 20px 40px;
  }

  .card-1 {
    gap: 10px;
    padding-right: 40px;
  }

  .card-2 {
    padding: 0 40px;
  }

  .card-3 {
    padding-left: 40px;
  }

  .contact {
    justify-content: start;
  }
}

@media (max-width: 740px) {
  main {
    padding: 50px 16px;
  }

  .select-quote {
    box-shadow: none;
    flex-direction: column;
    gap: 16px;
    align-self: start;
  }

  .select-quote button {
    padding: 15px 40px;
    width: 100%;
    border: 1px #FFA652 solid;
  }

  footer {
    flex-direction: column;
    padding: 20px 16px;
    gap: 20px;
  }

  .footer-card {
    align-self: start;
    padding: 16px 0;
  }

  .contact-platforms {
    align-self: start;
    gap: 20px;
  }

  .break-line {
    display: none;
  }
}

@media (max-width: 640px) {
  .nav-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}